<!--Extending the layout.html-->
{% extends "users/layout.html" %}

<!--Loading the static files-->
{% load static %}

<!--Head part-->
{% block head %}
<title>{{student.stud_name}} TimeTable</title>

<link rel="stylesheet" href="{% static 'users/table.css' %}">

<style>
    #search_extend:focus {
        width: 250px;
    }
</style>

<!--Addtional functions-->
<script>
    function fade() {
        var b = document.querySelector('body');
        var op = 1;
        id = setInterval(fadeout, 0.5);
        function fadeout() {
            if (op <= 0) {
                clearInterval(id);
                open_();
            }
            else {
                op = op - 0.02;
                b.style.opacity = op;
            }
        }
        return false;
    }
    function open_() {
        window.open('{% url "home" %}', '_self');
    }
</script>
<script>
    document.addEventListener('DOMContentLoaded', fadeout);
    function fadeout() {
        var b = document.querySelector('body');
        var op = 0;
        id = setInterval(fadeout, 0.5);
        function fadeout() {
            if (op >= 1) {
                clearInterval(id);
            }
            else {
                op = op + 0.003;
                b.style.opacity = op;
            }
        }
        return true;
    }
</script>

<!--function for loading the data to tables-->
<script>
    function fill_data() {
            var tr = document.querySelectorAll('tr');
            var count = 0;
            for (i = 1; i < tr.length; i++) {
                var td = tr[i].querySelectorAll('td');
                for (j = 0; j < td.length; j++) {
                    var c = document.createElement('div');
                    c.classList.add('drag');
                    if(data[count]!='None'){
                        c.innerHTML = data[count];

                        td[j].style.height = "fit-content";
                        if (window.getComputedStyle(td[j], null).getPropertyValue('background-color') == "rgba(160, 255, 179, 0.25)") {
                            c.style.backgroundColor = "#a0ffb38f";
                        }
                        else {
                            c.style.backgroundColor = "#ff7272";
                        }
                        empty = document.querySelectorAll(".empty");
                        for (var item of empty) {
                            if (item.innerHTML == "") {
                                item.style.height = "30px";
                            }
                            else {
                                item.style.height = "fit-content";
                            }
                        }
                        td[j].querySelector('.empty').append(c);
                    }
                    count += 1;
                }
            }
        }
    var data = `{{data}}`;
    data = data.replaceAll(/&#x27;/g,'');
    data = data.replaceAll(/\([0-9]+,\s[0-9]\):\s/g, '');
    data = data.replaceAll(/{/g,'');
    data = data.replaceAll(/}/g,'');
    data = data.split(', ');
    document.addEventListener('DOMContentLoaded',fill_data);
</script>
<script>
    function open_edit() {
            window.open('{% url "edit" %}', '_self');
        }
</script>

{% endblock %}

{% block body %}

<!--Navr bar start-->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="{% static 'users/nitklogo.png' %}" alt="" width="38" height="34" class="d-inline-block align-top">
            NITK
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}" onclick="return fade();">Home</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link active " aria-current="page" href="{% url 'timetable' %}">TimeTable</a>
                </li>
                {% endif %}
            </ul>
            <form class="d-flex">
                {% if user.is_authenticated %}
                <a class="btn btn-danger me-2" type="button" href="{% url 'logout' %}"
                    onclick="document.getElementById('login-card').style.display = 'flex'">LogOut</a>
                {% else %}
                <a class="btn btn-danger me-2" type="button" href="{% url 'login' %}">SignIn</a>
                {% endif %}
            </form>
            <div class="dropdown">
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <i class="fa fa-user" aria-hidden="true"></i>
                </a>

                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    {% if user.is_authenticated %}
                    <li style="top: 0;">
                        <div style="background-color: #212529; color: #fefefe; padding: 2%;text-align: center;">
                            {{user.first_name}} {{user.last_name}}</div>
                    </li>
                    <li><a class="dropdown-item" href="{% url 'logout' %}">logout</a></li>
                    {% else %}
                    <li><a class="dropdown-item" href="{% url 'login' %}">SignIn</a></li>
                    {% endif %}

                </ul>
            </div>
        </div>
    </div>
</nav>
<!--nav bar end-->

<!--Table-->
<section style="margin-top: 58px; text-align: center; display: inline-flex; flex-direction: column; width: 100%;height: 100%;">
    {% if is_cr %}
    <button class="btn btn-danger" onclick="open_edit();">Edit</button>
    {% endif %}
    <center>
        {% with ''|center:8 as range %}
        <div id="table" style="text-align: center;">
            <table style="box-shadow: 0 0 600px 1px rgb(0 0 0 / 30%);min-width: 700px;">
                <caption style="font-family: 'Charmonman'; caption-side: top;">NITK IT TimeTable</caption>
                <tr style="background-color: #34495e;">
                    {% for t in time %}
                    <th>{{t}}</th>
                    {% endfor %}
                </tr>
                {% for day in days %}
                <tr>
                    <th style="background-color: darkcyan;">
                        {{day}}
                    </th>
                    {% for _ in range%}
                    <td>
                        <div class="empty"></div>
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </div>
        {% endwith %}
    </center>
</section>
<!--Table end-->
{% endblock %}