{% extends "users/layout.html" %}

{% load static %}
{% block head %}
<title>User {{student.stud_name}}</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
    crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet'>

<link rel="stylesheet" href="{% static 'users/signin.css' %}">
<link rel="stylesheet" href="{% static 'users/Assignment1_2.css' %}">
<link rel="stylesheet" href="{% static 'users/Assignment1.css' %}">
<link rel="stylesheet" href="{% static 'users/table.css' %}">
<script src="{% static 'users/table.js' %}"></script>

<style>
    #search_extend:focus {
        width: 250px;
    }
</style>
<script>
    function fade() {
        var b = document.querySelector('body');
        var op = 1;
        id = setInterval(fadeout, 5);
        function fadeout() {
            if (op <= 0) {
                clearInterval(id);
                open_();
            }
            else {
                op = op - 0.01;
                b.style.opacity = op;
            }
        }
        return false;
    }
    function open_() {
        window.open('{% url "home" %}', '_self');
    }
</script>
<script>
    document.addEventListener('DOMContentLoaded', fadeout);
    function fadeout() {
        var b = document.querySelector('body');
        var op = 0;
        id = setInterval(fadeout, 5);
        function fadeout() {
            if (op >= 1) {
                clearInterval(id);
            }
            else {
                op = op + 0.003;
                b.style.opacity = op;
            }
        }
        return true;
    }
</script>

{% endblock %}

{% block body %}

<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="{% static 'users/nitklogo.png' %}" alt="" width="38" height="34" class="d-inline-block align-top">
            NITK
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link"  href="{% url 'home' %}" onclick="return fade();">Home</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link active " aria-current="page" href="{% url 'timetable' %}">TimeTable</a>
                </li>
                {% endif %}
            </ul>
            <form class="d-flex">
                {% if user.is_authenticated %}
                <a class="btn btn-danger me-2" type="button" href="{% url 'logout' %}"
                    onclick="document.getElementById('login-card').style.display = 'flex'">LogOut</a>
                {% else %}
                <a class="btn btn-danger me-2" type="button" href="{% url 'login' %}">SignIn</a>
                {% endif %}
            </form>
            <div class="dropdown">
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <i class="fa fa-user" aria-hidden="true"></i>
                </a>

                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    {% if user.is_authenticated %}
                    <li style="top: 0;">
                        <div style="background-color: #212529; color: #fefefe; padding: 2%;text-align: center;">
                            {{user.first_name}} {{user.last_name}}</div>
                    </li>
                    <li><a class="dropdown-item" href="{% url 'logout' %}">logout</a></li>
                    {% else %}
                    <li><a class="dropdown-item" href="{% url 'login' %}">SignIn</a></li>
                    {% endif %}

                </ul>
            </div>
        </div>
    </div>
</nav>
<section style="margin-top: 58px; text-align: center; display: inline-flex; flex-direction: column; width: 100%;">
    <center>
        <div class="dragtabs dragtabs1"></div>
        <div id="table" style="text-align: center;">
            <table style="box-shadow: 0 0 600px 1px rgb(0 0 0 / 30%);">
                <caption>TimeTable</caption>
                <tr style="background-color: #34495e;">
                    <th>Day / Time</th>
                    <th>9:45 - 10:15</th>
                    <th>10:30 - 11:00</th>
                    <th>11:15 - 11:45</th>
                    <th>11:45 - 12:30</th>
                    <th>1:15 - 1:45</th>
                    <th>2:00 - 2:30</th>
                    <th>2:45 - 3:15</th>
                    <th>3:30 - 4:00</th>
                </tr>
                <tr>
                    <th style="background-color: darkcyan;">
                        Monday
                    </th>
                    <td>
                        <div class="empty"></div>
                    </td>
                    <td>
                        <div class="empty"></div>
                    </td>
                    <td>
                        <div class="empty"></div>
                    </td>
                    <td>
                        <div class="empty"></div>
                    </td>
                    <td>
                        <div class="empty"></div>
                    </td>
                    <td>
                        <div class="empty"></div>
                    </td>
                    <td>
                        <div class="empty"></div>
                    </td>
                    <td>
                        <div class="empty"></div>
                    </td>
                </tr>
                <tr>
                    <th style="background-color: darkcyan;">
                        Tuesday
                    </th>
                    <td>
                        <div class="empty"></div>
                    </td>
                    <td>
                        <div class="empty"></div>
                    </td>
                    <td>
                        <div class="empty"></div>
                    </td>
                    <td>
                        <div class="empty"></div>
                    </td>
                    <td>
                        <div class="empty"></div>
                    </td>
                    <td>
                        <div class="empty"></div>
                    </td>
                    <td>
                        <div class="empty"></div>
                    </td>
                    <td>
                        <div class="empty"></div>
                    </td>
                </tr>
                <tr>
                    <th style="background-color: darkcyan;">
                        Wednesday
                    </th>
                    <td>
                        <div class="empty"></div>
                    </td>
                    <td>
                        <div class="empty"></div>
                    </td>
                    <td>
                        <div class="empty"></div>
                    </td>
                    <td>
                        <div class="empty"></div>
                    </td>
                    <td>
                        <div class="empty"></div>
                    </td>
                    <td>
                        <div class="empty"></div>
                    </td>
                    <td>
                        <div class="empty"></div>
                    </td>
                    <td>
                        <div class="empty"></div>
                    </td>
                </tr>
                <tr>
                    <th style="background-color: darkcyan;">
                        Thursday
                    </th>
                    <td>
                        <div class="empty"></div>
                    </td>
                    <td>
                        <div class="empty"></div>
                    </td>
                    <td>
                        <div class="empty"></div>
                    </td>
                    <td>
                        <div class="empty"></div>
                    </td>
                    <td>
                        <div class="empty"></div>
                    </td>
                    <td>
                        <div class="empty"></div>
                    </td>
                    <td>
                        <div class="empty"></div>
                    </td>
                    <td>
                        <div class="empty"></div>
                    </td>
                </tr>
                <tr>
                    <th style="background-color: darkcyan;">
                        Friday
                    </th>
                    <td>
                        <div class="empty"></div>
                    </td>
                    <td>
                        <div class="empty"></div>
                    </td>
                    <td>
                        <div class="empty"></div>
                    </td>
                    <td>
                        <div class="empty"></div>
                    </td>
                    <td>
                        <div class="empty"></div>
                    </td>
                    <td>
                        <div class="empty"></div>
                    </td>
                    <td>
                        <div class="empty"></div>
                    </td>
                    <td>
                        <div class="empty"></div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="dragtabs dragtabs2"></div>
    </center>
    <div class="tabsgen">
        <form onsubmit="return gentabs()">
            <div class="container-input"><input class="table-input" type="text" name="course" id="course" placeholder="Course"></div>
            <div class="container-input"><input class="table-input" type="number" name="credits" id="credits" placeholder="Credits"></div>
            <input type="submit" hidden>
        </form>
    </div>
    <!--<div style="text-align: right;"><img class="dustbin" alt="Unix Time Converter" src="{% static 'users/trash.png' %}" width="60" height="80" style="margin-right: 10%;"></div>-->
    <div style="text-align: right;">
        <span class="trash" style="margin-right: 10%;">
            <span></span>
            <i></i>
        </span>
    </div>
    <script
        src="https://cpwebassets.codepen.io/assets/editor/iframe/iframeRefreshCSS-4793b73c6332f7f14a9b6bba5d5e62748e9d1bd0b5c52d7af6376f3d1c625d7e.js"></script>
</section>

{% endblock %}